/* ==== Font Declaration ==== */
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* ==== Resets ==== */
body, h1, h2, p {
	margin: 0;
	border: 0;
}

/* ==== Clearfix ==== */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

/* ==== Global Styles ==== */
body {
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 14em auto 4em;
	grid-gap: 1em;
	background: #f9f9f9;
	color: #323648;
	overflow: hidden;
}

main {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-column: 3 / 11;
	margin-top: 2em;
	overflow: hidden;
	/*border: .1em black solid;*/
}

/* ==== Header ==== */
header {
	padding: 4em 0;
	line-height: 6em;
	background: #67c561;
	grid-column: 1 / -1;
	box-shadow: 0 3px 3px rgba(2, 2, 2, 0.39);
}
header h1 {
	font-family: 'Leckerli One', cursive;
	font-size: 6em;
	text-align: center;
	color: #ffffff;
}

/* ==== Contact List ==== */
article.left {
	grid-column: 1 / 7;
	overflow-y: scroll;
}

.contact {
	margin-left: 2em;
	margin-right: 2em;
	padding-bottom: 1.5em;
	padding-left: 1.8em;
	border-bottom: .1em solid #b3b3b3;
}

.contact h4 {
	font-size: 2.5em;
	margin-bottom: .1em;
	display: flex;
}

.view {
	font-size: .7em;
	color: #0576b9;
	margin-left: auto;
	line-height: 2em;
}

.view:hover {
	color: #008bde;
	cursor: pointer;
}

.contact p {
	font-size: 1.5em;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2.5em;
    border-radius: 2.5em;
    background: #dddddd; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #f9f9f9; 
}

/* ==== Contact Details ==== */
article.right {
	grid-column: 7 / -1;
	margin-left: 1em;
	padding: 0 2em;
}

section.infoCard {
	background-color: #fff;
	border-radius: .25rem;
	box-shadow: 0 1px 0 rgba(0,0,0,.25);
	padding: 3em 2em 1em;
	border: 1px solid #e8e8e8;
}

section.infoCard h2 {
	font-size: 2em;
	text-align: center;
}

hr {
    border-top: 5px double #67c561;
    width: 7em;
    margin: .5em auto 2em;
    border-bottom: none;
    border-right: none;
}

.info {
	display: none;
}

.detailsTab {
	display: flex;
}

.detailsTab h4 {
	font-size: 1.8em;
	margin-top: 0px;
    margin-right: .5em;
	float: left;
}

.detailsTab p {
	font-size: 1.5em;
	float: left;
	margin-top: .05em;
}

.infoTab {
	display: inline-block;
}

.infoTab h4 {
	font-size: 1.8em;
	margin-top: 0px;
    margin-right: .5em;
	float: left;
}

button {
	background: #67c561;
	padding: .5em;
	color: #323648;
	margin: 1em auto;
	border: none;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 1em;
}

button:hover {
	background: #59a654;
	color: #4f4f4f;
	cursor: pointer;
}

section.button {
	display: flex;
}

section.button button {
	margin-top: 0;
}

.infoForm, .editForm {
	display: none;
}

.infoForm input, .editForm input {
	border-radius: 1em;
	padding: .2em 1em;
	color: #323648;
}

.infoForm input:focus, .editForm input:focus {
    box-shadow: 0 0 5px #67c561;
    border: 1px solid #67c561;
}

/* ==== Footer ==== */
footer {
	background: #3e433e;
	padding: 1em 0;
	color: #ffffff;
	text-align: center;
	grid-column: 1 / -1;
}

footer p {
	font-size: 1.5em;
	margin: 0 auto;
	letter-spacing: .05em
}
footer .fa-heart {
	color: #e44e83;
}

footer a:link, footer a:visited {
	text-decoration: none;
	color: #67c561;

}

footer a:hover,  footer a:active {
	color: #ffffff;
	padding-bottom: .1em;
	border-bottom: .15em dotted #67c561;
}